.add-wish__div input{
    width: 50vh;

    margin: 20px;
    padding: 5px;

    border: 1px solid #cdcdcd;
    border-radius: 5px;
    font-size: 25px;
}

.add-wish__div input:focus{
   border: 2px solid rgb(45, 45, 233);
   outline: none;
}

@media screen and (max-width:780px){
    .add-wish__div{
        width: 100%;
        background-image: url('https://w0.peakpx.com/wallpaper/456/402/HD-wallpaper-beautiful-evening-landscape-minimal-8k-landscape-morning-artist-artwork-digital-art-minimalism-minimalist.jpg');
    }
    .add-wish__div input{
        width: 100%;
        margin: 20px 0;
    }
}